.sobreMi {
  margin-top: 7rem;
}

.c_foto {
  display: grid;
  grid-template-columns: 60% 37%;
  gap: 3%;
  margin-top: 4rem;
}

.App {
  width: 100%;
  aspect-ratio: 1.7/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.descripcion p {
  font-size: 1.2rem;
}

.foto_about_me {
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.scene {
  position: absolute;
  width: 55%;
  height: 50%;
  top: 1.5rem;
  left: 25%;
  font-size: 0rem;
  overflow: hidden;
}

.scene i {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  animation: animate linear infinite;
}

.luna, .shootstar, .shootstar2, .shootstar1 {
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.shootstar, .shootstar2, .shootstar1 {
  width: 2px;
  height: 2px;
  opacity: 1;
  background: var(--color_estrella);
  filter: blur(0.5px);
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.shootstar {
  top: 20%;
  left: 35%;
  animation-delay: 10s;
}

.shootstar2 {
  top: 35%;
  left: 20%;
  opacity: 0;
  animation-delay: 12s;
}

.shootstar1 {
  top: 25%;
  right: 35%;
  animation-name: animate2;
  animation-delay: 15s;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.descripcion a {
  text-decoration: none;
  color: rgb(255, 247, 128);
}

.descripcion h3 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 2.5rem;
  color: white;
  position: relative;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: "Bona Nova";
  text-shadow: 0 0 10px var(--color_naranja), 0 0 20px var(--color_naranja);
}

.descripcion h3::before, .descripcion h3::after {
  content: '';
  width: 45px;
  height: 40px;
  position: absolute;
  top: -1.35rem;
  clip-path: polygon(25% 15%, 49% 0, 71% 15%, 100% 0, 100% 46%, 0 46%, 0 0);
}

.descripcion h3::before {
  background: rgb(255, 255, 255);
  filter: blur(12px);
  z-index: 3;
}

.descripcion h3::after {
  background: var(--color_naranja);
}

@keyframes animate2 {
  0% { opacity: 0; transform: translateX(0); }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-100px) translateY(100px); }
}

@keyframes animate{
  
  0%{
      opacity: 0;
      transform: translateX(0);
  }

  10%,90%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform:translateX(50px)
  }
}

@media screen and (max-width: 1200px) {
  .c_foto {
    grid-template-columns: 1fr;
  }
  .descripcion h3 {
    margin-top: 2rem;
  }
  .foto_about_me {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .descripcion p {
    font-size: 1rem;
    padding: 0 0.8rem;
    text-align: center;
  }
  .scene {
    top: 0;
  }
  .descripcion h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .sobreMi {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foto_about_me {
    height: 350px;
  }
}