.sobreMi{

  margin-top: 7rem;
}


.c_foto{
  display: grid;
  grid-template-columns: 60% 37%;
  gap: 3%;
  margin-top: 4rem;
}
  
.App {
    width: 100%;
    aspect-ratio: 1.7/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.descripcion p {
  font-size: 1.2rem;
}

  
.foto_about_me {
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
  
.scene {
    position:absolute;
    width: 55%;
    height: 50%;
    top: 1.5rem;
    left: 25%;
    font-size: 0rem;
    overflow: hidden;
}
  
.scene i{
    position:absolute;
    background: #ffffff;
    border-radius:50%;
    animation: animate linear infinite;
}
  
.luna{
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    box-shadow: 4px 4px var(--color_luna), 5px 5px 3px 3px var(--color_luna);
    top: 20%;
    left: 25%;
    rotate: 100deg;
    z-index: 1;
}
  
.shootstar{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    background: var(--color_estrella);
    filter: blur(0.5px);
    animation-name: animate3;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    animation-iteration-count:infinite;
}

.shootstar2{
    position: absolute;
    top: 35%;
    left: 20%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    background: var(--color_estrella);
    filter: blur(0.5px);
    animation-name: animate3;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-delay: 12s;
    animation-iteration-count:infinite;
}
  
.shootstar1{
    position: absolute;
    top: 25%;
    right: 35%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    background: var(--color_estrella);
    filter: blur(0.5px);
    animation-name: animate2;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-delay: 15s;
    animation-iteration-count:infinite;
}

.descripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descripcion a{
  text-decoration: none;
  color: rgb(255, 247, 128);
}

.descripcion h3{
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  font-size: 2.5rem;
  color: white;
  position: relative;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: "Bona Nova";
  text-shadow: 0 0 10px var(--color_naranja),
               0 0 20px var(--color_naranja);
}

.descripcion h3::before{
  content: '';
  width: 45px;
  height: 40px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -1.35rem;
  clip-path: polygon(25% 15%, 49% 0, 71% 15%, 100% 0, 100% 46%, 0 46%, 0 0);
  filter: blur(12px);
  z-index: 3;
}

.descripcion h3::after{
  content: '';
  width: 50px;
  height: 50px;
  background: var(--color_naranja);
  position: absolute;
  top: -1.5rem;
  clip-path: polygon(25% 15%, 49% 0, 71% 15%, 100% 0, 100% 46%, 0 46%, 0 0);
}
    
  
  
  @media screen and (max-width: 1200px){
    .c_foto{
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 4rem;
    }
    .descripcion h3{
      margin-top: 2rem;
    }


    .foto_about_me{
      width: 100%;
    }
}

@media screen and (max-width: 680px){
  .descripcion p{
    font-size: 1rem;
    padding: 0 0.8rem;
    text-align: center;
  }
  .scene{
    top: 0;
  }
  .descripcion h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .sobreMi{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foto_about_me{
    height: 350px;
  }

  .descripcion{
    margin-top: 2.5rem;
  }
}