nav{
    background: rgba(112, 233, 223, 0.562);
    width: max-content;
    display: block;
    position: fixed;
    padding : 0.39rem 0.9rem;
    z-index: 1000;
    right: 50%;
    bottom: 2rem;
    transform: translateX(50%);
    border-radius: 1.8rem;
}

nav a{
    background: transparent;
    padding: 1.3rem;
    font-size: 1.7rem;
    color: #02192c;
    border-radius: 50%;
    transition: all 0.5s ease;
}

nav a:hover{
    background: rgb(161, 220, 247);
}

nav a.usando{
    background:rgb(161, 220, 247);
}

@media screen and (max-width: 1200px){
   
    nav{
        bottom: 5rem;
    }
  
  }